<div class="ddropdowns" ng-controller="DDropdownsController">
    <div class="dd-row" ng-repeat="d in model.value track by $index">
        <select ng-options="o as o for o in ddOne" ng-model="d.ddOneSelection">
            <option value="">-- Select --</option>
        </select>
        <select ng-options="o as o for o in ddTwo" ng-model="d.ddTwoSelection">
            <option value="">-- Select --</option>
        </select>
        <span class="icon icon-remove" title="Remove" ng-click="remove($index)"></span>
    </div>
    <span class="btn icon icon-add" title="Add" ng-click="add()"></span>
</div>